
jsZip/.vs/jsZip/v14/.suo
jsZip/bin/Debug/jsZip.vshost.exe
jsZip/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.txt
jsZip/obj/Debug/jsZip.csproj.FileListAbsolute.txt
jsZip/bin/Debug/jsZip.vshost.exe
jsZip/bin/Debug/jsZip.exe
jsZip/bin/Debug/jsZip.pdb
jsZip/bin/Debug/jsZip.vshost.exe
